spring.profile.active=dev

graphql.server.url=
graphql.connection.key=

property.id=

cors.allowed.origin=

spring.cloud.azure.keyvault.secret.property-sources[0].endpoint=
config.azure.blob.connection.string=DefaultEndpointsProtocol=

config.azure.blob.container.name=
config.landing.azure.file.path=
config.header.azure.file.path=
config.footer.azure.file.path=